/MQTT_Publisher_OpenCV.exe - Raccourci.lnk
/Unity/MQTT_Unity_OCR/Assets/OpenCVForUnity
/Unity/MQTT_Unity_OCR/Assets/StreamingAssets/OpenCVForUnity
/Unity/MQTT_Unity_OCR/Assets/StreamingAssets/OpenCVForUnity.meta
/Unity/MQTT_Unity_OCR/UserSettings/Layouts
/Unity/MQTT_Unity_OCR/UserSettings
