/MQTT_Publisher_OpenCV.exe - Raccourci.lnk
/Unity/MQTT_Unity_OCR/Assets/StreamingAssets/OpenCVForUnity
/Unity/MQTT_Unity_OCR/Assets/OpenCVForUnity
/Raccourci IA_DATA_Exchanger_v11.lnk
/Raccourci MQTT_Subscriber.lnk
/Raccourci MQTT_Unity_OCR.lnk
/Raccourci MQTT_Video_Publisher.lnk
/Unity/MQTT_Unity_OCR/Assets/StreamingAssets/OpenCVForUnity.meta
/Unity/MQTT_Unity_OCR/UserSettings/Layouts
/Unity/MQTT_Unity_OCR/UserSettings
/WPF/MQTT_Serial_to_MQTT/*.bak
