<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MQTT_Manager_jjo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MQTT_Manager_jjo.Properties.Settings>
            <setting name="IPs" serializeAs="String">
                <value />
            </setting>
            <setting name="topic" serializeAs="String">
                <value />
            </setting>
            <setting name="retain" serializeAs="String">
                <value>False</value>
            </setting>
        </MQTT_Manager_jjo.Properties.Settings>
    </userSettings>
</configuration>